{% if resume.interests|length %}
    <section id="interests">
        <h2>Interests</h2>
        {% for interest in resume.interests %}
            <div class="item">
                {% if interest.name %}
                    <div class="name">
                        {{ interest.name }}
                    </div>
                {% endif %}
                {% if interest.keywords|length %}
                    <ul class="keywords">
                        {% for keyword in interest.keywords %}
                            <li>{{ keyword }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endif %}
